---
layout: default
title: Kaizhao Liu (刘锴昭)
---

<h3></h3>
<h2>Published Papers</h2>
<ul>
  {% for publication in site.publications %}
    {% if publication.published == 1 %}
    <li>
      <p>
        <a href="{{publication.link}}">{{publication.title}}</a><br /> 
        {{publication.author}} <br /> 
        {{publication.journal}}, {{publication.year}} <br />
        {{publication.content| markdownify}}
      </p>
    </li>
    {% endif %}
  {% endfor %}

</ul>

<h3></h3>
<h2>Unpublished Manuscripts</h2>
<ul>
  {% for publication in site.publications %}
    {% if publication.published == 0 %}
    <li>
      <p>
        <a href="{{publication.link}}">{{publication.title}}</a><br /> 
        {{publication.author}} <br /> 
        {{publication.journal}}, {{publication.year}} <br />
        {{publication.content| markdownify}}
      </p>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<h3></h3>
